{% load static %}
<div class="card col-10 mb-2">
    <div class="card-body d-flex gap-1">
        <img src="{% static 'images/38.jpg' %}" class="card-img-top card-img-bottom border" alt="Avatar" style="width: 70px; height: 70px">
        <div class="ms-2">
            <a class="text-reset link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'question' question.id %}"><h5 class="card-title">{{ question.title }}</h5></a>
            <p class="card-text">{{ question.text }}</p>
        </div>
    </div>
    <div class="card-body d-flex gap-2 pt-0">
        <p class="card-text w-25"><small class="text-muted"><a href="{% url 'question' question.id %}" class="border rounded" >Answers</a></small></p>
        <div class="d-flex gap-1">
            <p>Tags:</p>
            {% for tag in question.tags.all %}
            <a class="me-1 text-secondary" href="{% url 'tag' tag.name %}" class="card-link">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <div class="d-flex flex-row-reverse w-100">
            <input class="form-control mb-2" type="number" value="0" placeholder="Default input" aria-label="default input example" style="width: 70px; height: 30px">
        </div>
    </div>
</div>