{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
    <div class="d-flex gap-3 align-items-center">
        <h3>New Question</h3>
    </div>
    
    <div class="error">
        <p class="text-danger">Wrong tags!</p>
    </div>
    <form action="...">
            <label for="questionTitle" class="form-label">Title</label>
            <input id="questionTitle" class="form-control mb-3" type="text" placeholder="Enter your title" aria-label="Search" style="width:400px; height: 30px">
    
            <label for="questionText" class="form-label">Text</label>
            <textarea id="questionText" class="form-control mb-3" placeholder="Describe your problem" style="width: 400px"></textarea>
    
            <label for="questionTags" class="form-label">Tags</label>
            <input id="questionTags" class="form-control mb-3" type="text" placeholder="Enter up to 3 related tags" aria-label="Search" style="width:400px; height: 30px">
            <button type="submit" class="btn btn-secondary" style="height: 32px; padding-top: 3px">Ask</button>
    </form>
{% endblock %}